<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxdkcf.mapper.RelateMapper">
    <insert id="insert">
        insert into relate(user_id, topic_id)
        VALUES
        <foreach collection="topicIds" item="topicId" separator=",">
            (#{userId},#{topicId})
        </foreach>
    </insert>
    <insert id="insertByTopicId">
        insert into relate( user_id, topic_id, `index`)
        values
        <foreach collection="userIds" item="userId" separator=",">
            (#{userId},#{topicId},2.5)
        </foreach>
    </insert>
    <delete id="deleteByTopicIds">
        delete from relate where topic_id in
        <foreach collection="list" item="topicId" separator="," open="(" close=")">
            #{topicId}
        </foreach>
    </delete>

    <select id="getRelateList" resultType="com.kxdkcf.dto.RelateDTO">
        select user_id, topic_id, `index`
        from relate
        <where>
            <if test="id != null">
                and user_id=#{id}
            </if>
        </where>
    </select>
</mapper>